.about {
    background-color: color-mix(in srgb, var(--color-bg) 70%, transparent);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    padding: 16px;
}

.about-heading {
    font-family: var(--font-heading);

    width: auto;
}

.about .about-heading + .about-paragraph {
    margin-top: 32px;
}

.about .about-paragraph {
    width: clamp(24ch, 80vw, 52ch);
    color: var(--color-text-muted);
    line-height: 1.5em;
}