.home {
    background-color: color-mix(in srgb, var(--color-bg) 80%, transparent);
    
    border: 4px solid color-mix(in srgb, var(--color-bg-alt) 80%, transparent);
    border-radius: 16px;

    line-height: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.home .intro {
    font-size: 1.6rem;
    font-style: italic;
}

.home img {
    width: 320px;

    border: 4px solid color-mix(in srgb, var(--color-wood) 80%, transparent);
    border-radius: 50%;
}

.home .description {
    width: 56ch;
}